html {
    font-size: 9pt
}

body {
    background-image: url(gradient_bg.jpeg);
    background-repeat: repeat-x;
    font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    line-height: 130%;
    margin: 0;
    padding: 0
}

.logo {
    background-image: url(sentry_logo.png);
    background-repeat: no-repeat;
    background-position: 5px 15px;
    -ms-background-size: 125px 40px;
    background-size: 125px 40px
}

body#minimal {
    background-image: none;
    padding: 20px 0 20px 0
}

a:hover {
    color: #1d60ff;
    text-decoration: none
}

a:active {
    color: #12eb87
}

p,ul {
    margin-bottom: 20px;
    line-height: 1.6em
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1.5em;
    color: #000
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0
}

h2 {
    padding: 0 0 10px 0
}

h3 {
    font-size: 1.2em
}

h4 {
    font-size: 1.1em
}

h5,h6 {
    font-size: 1em
}

.rightColumn>h1,.rightColumn>h2,.leftColumn>h1,.leftColumn>h2 {
    margin-top: 0
}

.page,.page_minimal {
    -moz-min-width: 750px;
    -ms-min-width: 750px;
    -o-min-width: 750px;
    -webkit-min-width: 750px;
    min-width: 750px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    overflow: auto
}

.page_minimal {
    min-width: 100px
}

#main_minimal {
    background-color: #fff;
    margin-left: auto
}

#main {
    padding: 0 15px 15px 15px;
    margin-bottom: 30px
}

#header {
}

#header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin-left: 50%;
    color: #000;
    border: none;
    line-height: 2em;
    font-size: 32px!important
}

ul#menu {
    border-bottom: 1px #5c87b2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right
}

ul#menu li,ul#submenu li {
    display: inline;
    list-style: none
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff
}

ul#menu li a {
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-bottom: 1px solid #5c87b2
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none
}

ul#menu li a.on {
    background-color: #fff;
    border-bottom-color: #fff;
    border-left: 1px solid #5c87b2;
    border-top: 1px solid #5c87b2;
    border-right: 1px solid #5c87b2
}

nav {
    margin-left: 150px;
    padding-top: 10px;
    position: relative;
    z-index: 1
}

nav ul {
    padding-left: 5px
}

nav ul li a {
    text-decoration: none
}

nav ul ul {
    display: none
}

nav ul li:hover>ul {
    display: block
}

nav ul {
    background: #efefef;
    background: linear-gradient(top,#efefef 0%,#bbb 100%);
    background: -moz-linear-gradient(top,#efefef 0%,#bbb 100%);
    background: -webkit-linear-gradient(top,#efefef 0%,#bbb 100%);
    box-shadow: 0 0 9px rgba(0,0,0,.15);
    padding: 0 px;
    border-radius: 5px;
    list-style: none;
    position: relative;
    display: inline-table
}

nav ul:after {
    content: "";
    clear: both;
    display: block
}

nav ul li {
    float: left
}

nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top,#4f5964 0%,#5f6975 40%);
    background: -moz-linear-gradient(top,#4f5964 0%,#5f6975 40%);
    background: -webkit-linear-gradient(top,#4f5964 0%,#5f6975 40%)
}

nav ul li:hover a {
    color: #fff;
    text-decoration: none
}

nav ul li a {
    display: block;
    padding: 5px 25px;
    color: #757575;
    text-decoration: none
}

nav ul ul {
    background: #5f6975;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 100%
}

nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative
}

nav ul ul li a {
    padding: 0 10px 5px 10px;
    color: #fff
}

nav ul ul li a:hover {
    background: #4b545f
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0
}

form {
    margin-bottom: 15px
}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc
}

fieldset p {
    margin: 2px 12px 10px 10px
}

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px
}

input[type="text"],input[type="number"],input[type="password"] {
    width: 200px;
    border: 1px solid #ccc
}

input#SmsUrl,input.locationEntry {
    width: 400px
}

input.erlInput {
    border: 1px solid #ccc
}

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
    width: 100%
}

table tr {
    border-top: solid 1px #e8eef4
}

table td {
    padding: 5px
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4
}

.clear {
    clear: both
}

.error {
    color: red
}

#menucontainer {
    margin-top: 40px
}

#submenucontainer {
    text-align: right;
    margin: 0
}

div#title {
    display: block;
    float: left;
    text-align: left
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: #000
}

#logindisplay a:link {
    color: #000;
    text-decoration: underline
}

#logindisplay a:visited {
    color: #000;
    text-decoration: underline
}

#logindisplay a:hover {
    color: #000;
    text-decoration: none
}

.field-validation-error {
    color: red
}

.field-validation-valid {
    display: none
}

.input-validation-error {
    border: 1px solid red;
    background-color: #fee
}

.validation-summary-errors {
    font-weight: bold;
    color: red
}

.validation-summary-valid {
    display: none
}

.editor-label {
    margin-top: .5em;
    font-weight: bold;
    width: 20em;
    text-align: right;
    float: left;
    clear: left;
    line-height: 1em;
    vertical-align: top;
    margin-right: .5em
}

.editor-field {
    margin-left: .9em;
    vertical-align: bottom;
    margin-top: .4em;
    clear: right;
    line-height: 1em
}

.editor-field input[type="checkbox"] {
    margin: 6px 0 0 0
}

.display-label {
    font-weight: bold;
    width: 15em;
    text-align: right;
    float: left;
    clear: left;
    line-height: 1.75em
}

.display-field {
    margin-left: 16em;
    line-height: 1.75em;
    clear: right
}

.text-box {
    width: 30em
}

.text-box.multi-line {
    height: 6.5em
}

.tri-state {
    width: 6em
}

.SuccessMessage,.ErrorMessage {
    clear: both;
    width: 66%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    color: #7ab800;
    vertical-align: middle;
    border: thick solid #7ab800;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    display: none
}

.ErrorMessage {
    background-color: #eee;
    color: #dc5034;
    border: thick solid #dc5034
}

.ErrorMessage ul {
    text-align: left
}

.ErrorMessage div {
    max-height: 100px;
    overflow: auto
}

.SuccessMessage .CloseButton,.ErrorMessage .CloseButton {
    float: right
}

.showNow {
    display: block
}

.commandCell {
    float: right
}

.pagination {
    margin: 5px 15px 5px 0;
    text-align: right
}

th {
    white-space: nowrap
}

th a {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-image: url("icons/sort_neutral_green.png")
}

th.sort_desc a {
    background-image: url("icons/sort_down_green.png")
}

th.sort_asc a {
    background-image: url("icons/sort_up_green.png")
}

.footer {
    text-align: center;
    border-top: 1px solid #5c87b2;
    color: #999;
    padding: 10px 0 0 0;
    text-align: center;
    line-height: normal;
    margin: 10px 0 0 0;
    font-size: .9em
}

ul.footerLinks li {
    display: inline;
    list-style: none outside none;
    color: #999;
    font-size: 8pt
}

ul.footerlinks li a,ul.footerlinks li a:hover,ul.footerlinks li a:active {
    color: #999
}

.search {
    float: left;
    margin-right: 25px
}

.search input[type="text"] {
    color: #034af3;
    background-color: #e8eef4;
    font-size: 10pt;
    font-weight: bold;
    width: 10em
}

.search input.searchBox {
    background-image: url("icons/magnifier.png");
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 20px
}

.search input.dateBox {
    width: 7em;
    text-align: right
}

a.clearSearch {
    font-size: 9pt;
    color: #999
}

div#EmergencyCall {
    border: 15px solid #d00;
    padding: 10px
}

div#EmergencyCall.acknowledged {
    border: 15px solid #006400
}

.highlight {
    background-color: #afeeee
}

.empty {
    display: none
}

td.acknowledgements {
    display: none
}

ul.acknowledgements {
    font-style: italic;
    margin: 0 0 0 0
}

table tr.acknowledgements {
    border-top: none!important
}

#loading {
    background-image: url(busyindicator.gif);
    background-repeat: no-repeat;
    z-index: 32767;
    position: absolute;
    left: 45%;
    right: 0;
    top: 45%;
    bottom: 0;
    width: 93;
    height: 93;
    display: none
}

a.hidden {
    color: #fff;
    float: right
}

.hidden {
    display: none
}

iframe#additionalData {
    width: 100%;
    height: 758px;
    border: none
}

.right {
    float: right
}

.linkButton {
    padding: 8px 12px 6px 22px;
    background-repeat: no-repeat;
    background-position: 5px 10px
}

button.command {
    padding: 8px 12px 6px 22px;
    margin: 0 12px 1px 0;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    display: inline;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    text-shadow: 1px 1px #333;
    background-color: #5c87b2
}

button.command:active {
    background-position: 8px 8px;
    padding: 8px 11px 5px 23px;
    margin: 0 12px 1px 0
}

button.command:hover {
    background-color: #e8eef4
}

.linkButton:hover {
    text-decoration: underline
}

.imageButton {
    margin-right: 5px;
    width: 16px;
    float: left;
    overflow: hidden;
    height: 16px;
    background-repeat: no-repeat
}

.editProfileLinkButton {
    background-color: #ffa500;
    background-image: url("icons/server_go.png");
    margin-left: 50px;
    margin-right: 50px
}

.imageButton:hover {
}

.maintenanceButton {
    margin-left: 0;
    background-image: url("icons/wrench.png")
}

.disableMaintenanceButton {
    margin-left: 0;
    background-image: url("icons/disabled-wrench.png")
}

.userButton {
    background-image: url("icons/user.png")
}

.unregisteredUserButton {
    background-image: url("icons/user_error.png")
}

.checkboxChecked {
    background-image: url("icons/checkbox-checked.png")
}

.checkboxCleared {
    background-image: url("icons/checkbox.png")
}

.newCallServerButton {
    background-image: url("icons/server_add.png")
}

.editCallServerButton {
    background-image: url("icons/server_edit.png")
}

.deleteCallServerButton {
    background-image: url("icons/server_delete.png")
}

.popoutButton {
    background-image: url("icons/popout.png")
}

.emailSettingsButton {
    background-image: url("icons/email.png")
}

.newEmailSettingsButton {
    background-image: url("icons/email_add.png")
}

.editEmailSettingsButton {
    background-image: url("icons/email_edit.png")
}

.deleteEmailSettingsButton {
    background-image: url("icons/email_delete.png")
}

.missingPhoneButton {
    background-image: url("icons/magnifier.png")
}

.addPhoneButton {
    background-image: url("icons/phone_add.png");
    display: none
}

.addPhoneButton.AvayaCS2100GatewayController,.addPhoneButton.force {
    display: inline
}

.deletePhoneButton {
    background-image: url("icons/phone_delete.png")
}

.pollNetworkButton {
    background-image: url("icons/sitemap_color.png")
}

.deleteCommandButton {
    background-image: url("icons/newspaper_delete.png")
}

.addSiteButton {
    background-image: url("icons/building_add.png")
}

.editSiteButton {
    background-image: url("icons/building_edit.png")
}

.deleteSiteButton {
    background-image: url("icons/building_delete.png")
}

.callServerButton {
    background-image: url("icons/server.png")
}

.switchButton {
    background-image: url("icons/server_stanchion.png")
}

.phoneButton {
    background-image: url("icons/phone.png")
}

.queueButton {
    background-image: url("icons/newspaper.png")
}

.editButton {
    background-image: url("icons/user_edit.png")
}

.deleteButton {
    background-image: url("icons/user_delete.png")
}

.createButton {
    background-image: url("icons/user_add.png")
}

.discoveryButton {
    background-image: url("icons/icons/server_go.png")
}

.silverStreakButton {
    background-image: url("icons/world_link.png")
}

.clearSelections {
    background-image: url("icons/list_clear.png")
}

.listButton {
    background-image: url("icons/application_view_list.png")
}

.closeWindowButton {
    background-image: url("icons/close_d.png")
}

.cancelButton {
    background-image: url("icons/cancel.png")
}

.helpButton {
    background-image: url("icons/help.png")
}

.pdfButton {
    background-image: url("icons/Images/ThirdParty/ingrid/page-report-pdf.jpg")
}

.backButton {
    background-image: url("icons/arrow_left.png")
}

.addIPButton {
    float: none;
    background-image: url("icons/add.png");
    margin-right: 0;
    margin-left: 0
}

.deleteIPButton {
    float: none;
    background-image: url("icons/delete.png");
    margin-right: 0;
    margin-left: 0
}

.alertButton {
    background-image: url("icons/server_error.png")
}

.closeAlertButton {
    background-image: url("icons/note_delete.png")
}

.supportChatButton {
    background-image: url("icons/comment.png");
    width: 16px;
    overflow: hidden
}

.supportEmailButton {
    background-image: url("icons/email.png");
    width: 16px;
    overflow: hidden
}

.invalidServiceTag {
    background-image: url("icons/tag_blue_delete.png");
    margin-left: 4px
}

.noCredentialsServiceTag {
    background-image: url("icons/key_delete.png");
    margin-left: 4px
}

.noSNMPCredentialsServiceTag {
    background-image: url("icons/cancel.png");
    margin-left: 4px
}

.notConfiguredServiceTag {
    background-image: url("icons/cancel.png");
    margin-left: 4px
}

.validServiceTag {
    background-image: url("icons/tag_blue.png");
    margin-left: 4px
}

.assignCredentialsButton {
    background-image: url("icons/key.png");
    margin-left: 4px
}

a.addDomainButton,a.addDomainButton:visited,a.addDomainButton:hover {
    background-image: url("icons/domain-add.png")
}

a.exportToExcelButton,a.exportToExcelButton:visited,a.exportToExcelButton:hover {
    background-image: url("icons/./images/thirdparty/ingrid/page-report-excel.png");
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0
}

a.exportToPdfButton,a.exportToPdfButton:visited,a.exportToPdfButton:hover {
    background-image: url("icons/./images/thirdparty/ingrid/page-report-pdf.png");
    width: 25px;
    height: 25px
}

.sortAscending {
    background: url(sortup.gif) 0 5px no-repeat;
    padding-left: 12px;
    margin-left: 5px
}

.sortDescending {
    background: url(sortdown.gif) 0 5px no-repeat;
    padding-left: 12px;
    margin-left: 5px
}

.addDomainButton {
    background-image: url("icons/domain-add.png")
}

.editDomainButton {
    background-image: url("icons/domain-edit.png")
}

.deleteDomainButton {
    background-image: url("icons/domain-delete.png")
}

.addGroupButton {
    background-image: url("icons/group-add.png")
}

.editGroupButton {
    background-image: url("icons/group-edit.png")
}

.deleteGroupButton {
    background-image: url("icons/group-delete.png")
}

.addCallerButton {
    background-image: url("icons/user_add.png")
}

.editCallerButton {
    background-image: url("icons/user_edit.png")
}

.deleteCallerButton {
    background-image: url("icons/user_delete.png")
}

.importCallerButton {
    background-image: url("icons/user_go.png")
}

.addLocationButton {
    background-image: url("icons/map_add.png")
}

.editLocationButton {
    background-image: url("icons/map_edit.png")
}

.deleteLocationButton {
    background-image: url("icons/map_delete.png")
}

.importLocationButton {
    background-image: url("icons/map_go.png")
}

.importButton {
    background-image: url("icons/table_row_insert.png")
}

.reportGoButton {
    background-image: url("icons/report_go.png")
}

.backToButton {
    background-image: url("icons/left.gif");
    background-repeat: no-repeat;
    padding-left: 25px
}

.undoButton {
    margin-left: 0;
    background-image: url("icons/arrow_undo.png")
}

.downloadButton {
    background-image: url("icons/download.png")
}

.clearSearchButton {
    background-image: url("icons/magnifier_zoom_out.png")
}

.detailsButton {
    background-image: url("icons/information.png")
}

.addOrganizationButton {
    background-image: url("icons/map_add.png")
}

.editOrganizationButton {
    background-image: url("icons/map_edit.png")
}

.deleteOrganizationButton {
    background-image: url("icons/map_delete.png")
}

.addNotificationDomainButton {
    background-image: url("icons/map_add.png")
}

.editNotificationDomainButton {
    background-image: url("icons/map_edit.png")
}

.deleteNotificationDomainButton {
    background-image: url("icons/map_delete.png")
}

.listNotificationDomainERLButton {
    background-image: url("icons/sitemap_color.png")
}

a.disabledButton,a.disabledButton:hover,a.disabledButton:visited,a.disabledButton:active {
    color: #ddd;
    text-decoration: none
}
